# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MSVC
.vs
*.sln.DotSettings.user
*.vcxproj.user
/Debug
/Release
/x64/Debug
/x64/Release
/packages


nbproject
build
UaParserTest
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.25.2/CMakeCCompiler.cmake
CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.25.2/CMakeSystem.cmake
CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/bench.dir/build.make
CMakeFiles/bench.dir/cmake_clean.cmake
CMakeFiles/bench.dir/compiler_depend.internal
CMakeFiles/bench.dir/compiler_depend.make
CMakeFiles/bench.dir/compiler_depend.ts
CMakeFiles/bench.dir/depend.make
CMakeFiles/bench.dir/DependInfo.cmake
CMakeFiles/bench.dir/flags.make
CMakeFiles/bench.dir/link.txt
CMakeFiles/bench.dir/progress.make
CMakeFiles/objlib.dir/build.make
CMakeFiles/objlib.dir/cmake_clean.cmake
CMakeFiles/objlib.dir/compiler_depend.internal
CMakeFiles/objlib.dir/compiler_depend.make
CMakeFiles/objlib.dir/compiler_depend.ts
CMakeFiles/objlib.dir/depend.make
CMakeFiles/objlib.dir/DependInfo.cmake
CMakeFiles/objlib.dir/flags.make
CMakeFiles/objlib.dir/progress.make
CMakeFiles/parse-dur.dir/build.make
CMakeFiles/parse-dur.dir/cmake_clean.cmake
CMakeFiles/parse-dur.dir/compiler_depend.internal
CMakeFiles/parse-dur.dir/compiler_depend.make
CMakeFiles/parse-dur.dir/compiler_depend.ts
CMakeFiles/parse-dur.dir/depend.make
CMakeFiles/parse-dur.dir/DependInfo.cmake
CMakeFiles/parse-dur.dir/flags.make
CMakeFiles/parse-dur.dir/link.txt
CMakeFiles/parse-dur.dir/progress.make
CMakeFiles/parse.dir/build.make
CMakeFiles/parse.dir/cmake_clean.cmake
CMakeFiles/parse.dir/compiler_depend.internal
CMakeFiles/parse.dir/compiler_depend.make
CMakeFiles/parse.dir/compiler_depend.ts
CMakeFiles/parse.dir/depend.make
CMakeFiles/parse.dir/DependInfo.cmake
CMakeFiles/parse.dir/flags.make
CMakeFiles/parse.dir/link.txt
CMakeFiles/parse.dir/progress.make
CMakeFiles/tests.dir/build.make
CMakeFiles/tests.dir/cmake_clean.cmake
CMakeFiles/tests.dir/compiler_depend.internal
CMakeFiles/tests.dir/compiler_depend.make
CMakeFiles/tests.dir/compiler_depend.ts
CMakeFiles/tests.dir/depend.make
CMakeFiles/tests.dir/DependInfo.cmake
CMakeFiles/tests.dir/flags.make
CMakeFiles/tests.dir/link.txt
CMakeFiles/tests.dir/progress.make
CMakeFiles/uap-cpp-shared.dir/build.make
CMakeFiles/uap-cpp-shared.dir/cmake_clean.cmake
CMakeFiles/uap-cpp-shared.dir/compiler_depend.make
CMakeFiles/uap-cpp-shared.dir/compiler_depend.ts
CMakeFiles/uap-cpp-shared.dir/depend.make
CMakeFiles/uap-cpp-shared.dir/DependInfo.cmake
CMakeFiles/uap-cpp-shared.dir/flags.make
CMakeFiles/uap-cpp-shared.dir/link.txt
CMakeFiles/uap-cpp-shared.dir/progress.make
CMakeFiles/uap-cpp-static.dir/build.make
CMakeFiles/uap-cpp-static.dir/cmake_clean_target.cmake
CMakeFiles/uap-cpp-static.dir/cmake_clean.cmake
CMakeFiles/uap-cpp-static.dir/compiler_depend.make
CMakeFiles/uap-cpp-static.dir/compiler_depend.ts
CMakeFiles/uap-cpp-static.dir/depend.make
CMakeFiles/uap-cpp-static.dir/DependInfo.cmake
CMakeFiles/uap-cpp-static.dir/flags.make
CMakeFiles/uap-cpp-static.dir/link.txt
CMakeFiles/uap-cpp-static.dir/progress.make
CMakeCache.txt
cmake_install.cmake
parse
UaParserBench
CMakeFiles/
generate_buckets
Makefile
parse_memcached
